.image-form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContainer button{
  margin: 14px;
  cursor: pointer;
}

#add-meme{
  
}